@media (max-width: 768px) {
  .header {
    width: 98%;
    &_logo {
      &_img {
        width: 7rem;
      }
    }
    &_nav {
      & ul {
        padding-left: 0;
      }
      &_link {
        &_navlink {
          padding: 0.2rem 0.3rem;
        }
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;

  &_logo {
    &_img {
      width: 10rem;
    }
  }

  &_nav {
    & ul {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }

    &_link {
      list-style: none;
      color: #ff6060;
      font-size: 19px;
      margin: 1rem 0.5rem;

      &_navlink {
        padding: 0.2rem 0.7rem;
      }

      &_active {
        color: #ff6060;
        font-family: "Montserrat";
        background: hsla(0, 100%, 82%, 0.2);
        border-radius: 0.3rem;
        padding: 0.2rem 0.7rem;
      }

      &_inactive {
        transition: all 350ms ease-in-out;
        color: #ff6060;
        text-decoration: none;
        &:hover {
          font-family: "Montserrat";
          background: hsla(0, 100%, 82%, 0.2);
          border-radius: 0.3rem;
          padding: 0.2rem 0.7rem;
        }
      }
    }
  }
}
