.housing_page {
  width: 95%;
  min-height: 35rem;
  margin: 1rem auto 0rem auto;

  &_header {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 1rem 0;

    &_infos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_title {
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 35px;
        margin: 0;
      }

      &_subtitle {
        font-size: 18px;
        margin: 0.2rem 0 1rem 0;
      }

      &_tags {
        display: flex;
        flex-wrap: wrap;

        &_tag {
          font-size: 15px;
          color: white;
          background-color: #ff5656;
          box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
          margin: 0 1rem 0 0;
          padding: 0.2rem 1.5rem;
          border-radius: 0.5rem;
        }
      }
    }

    &_hoster {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      &_infos {
        display: flex;
        align-items: center;

        &_name {
          width: 120px;
          text-align: right;
          margin-right: 0.5rem;
          font-size: 18px;
        }

        &_img {
          width: 3.3rem;
          height: 3.3rem;
          border-radius: 3rem;
          object-fit: cover;
          box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.2);
        }
      }

      &_ratings {
        margin-top: 1rem;
        text-align: right;
        &_star {
          padding-left: 0.3rem;
          font-size: 25px;
          &_grey {
            color: rgb(188, 186, 186);
          }
        }
      }
    }
  }

  &_collapses {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &_content {
      margin: 1rem 0;
      width: 47%;
      & ul {
        margin: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .housing_page {
    min-height: 40rem;

    &_header {
      flex-direction: column;
      margin-bottom: 0;

      &_infos {
        &_tags {
          &_tag {
            margin-bottom: 1rem;
          }
        }
      }

      &_hoster {
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 0;
        margin-bottom: 0.5rem;

        &_infos {
          align-items: center;
          &_name {
            margin-top: 0;
            margin-bottom: 0;
          }
        }

        &_ratings {
          padding: 0 0.2rem 1rem 0;
          &_star {
            padding: 0 0.2rem 3rem 0;
          }
        }
      }
    }

    &_collapses {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &_content {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }
}
