@media (max-width: 768px) {
  .Banner {
    width: 98% !important;
    justify-content: start;
    &_title {
      width: 65%;
      padding-left: 1rem;
    }
  }
}

.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 20px auto;
  h1 {
    position: absolute;
    z-index: 1;
    color: white;
  }
  &_title {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 28px;
  }
  img {
    position: relative;
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 25px;
    filter: brightness(60%);
  }
}
