@media (max-width: 768px) {
  .about_collapses {
    width: 98% !important;
    margin-top: 1.7rem !important;
  }
}

.about {
  &_collapses {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 6rem;
    &_content {
      margin-bottom: 0.5rem;
      width: 95%;
    }
  }
}
