footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 39px 0px;

  p {
    color: white;
    font-family: "Montserrat";
    font-weight: 500;
  }
}
