$primary-color: #ff5656;
$bg-clr: #fff;
$bg-content: #f0f0f0;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

html {
  position: relative;
  min-height: 100%;
  margin: auto;
  max-width: 1440px;
  font-size: 18px;
  color: $primary-color;
  font-family: "Montserrat-Regular";
  background: $bg-clr;
}

h1,
h2 {
  font-family: "Montserrat-Medium";
}

ul {
  padding: 0;
}

li {
  padding: 0;
  list-style-type: none;
}

a {
  //   text-decoration: none;
  color: $primary-color;
}
